<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tsinghua.omedia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" 
        android:targetSdkVersion="11"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:debuggable="true"
        android:icon="@drawable/omedia"
        android:label="@string/app_name"
        android:name=".OmediaApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LandingActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" >
        </activity>
        <activity android:name=".activity.CcnActivity" >
        </activity>
        <activity android:name=".activity.FriendsActivity" >
        </activity>
        <activity android:name=".activity.RegisterActivity" >
        </activity>
        <activity android:name=".activity.FileBrowerAcitvity" >
        </activity>
    </application>

</manifest>